/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 12%, 8%);
    font-size: 12px;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

h1{
    font-size: 20px;
    color: #ffffff;
    margin: 24px 0 10px 0;
}

p{
    line-height: 18px;
    color: hsl(217, 12%, 63%);
}

/*Card*/


.card{
    margin: 9% auto;
    background-color: #202731;
    border-radius: 20px;
    width: 320px;
    padding:16px 30px;
}

/*Button*/

button{
    cursor: pointer;
}

.submit{
    margin: 10px 0;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: hsl(25, 97%, 53%);
    border: 0;
    border-radius: 20px;
    padding: 8px 96px;
}

.icon{
    max-width: 12px;
}

img{
    margin: 10px 3px;
    max-width: 45%;
}

.circle{
    background-color:#262f38;
    border: 0;
    border-radius: 100%;
    padding: 0px 8px;
}

.bt_nb{
    color: hsl(217, 12%, 63%);
    margin: 20px 0px 20px 0;
    padding: 10px 16px;
}

.selected_bt{
    border: 0;
    border-radius: 20px;
    padding: 8px 12px;
    color: hsl(25, 97%, 53%) ;
    background-color:#262f38;
    margin: 20px 0px 10px 0;
}

/*Hover + Active*/

.bt_nb:hover,
.submit:hover{
    color: black;
    background-color: hsl(25, 97%, 53%);
}

.bt_nb:active,
.submit:active{
    color: black;
    background-color:white;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.flex_bt{
    display: flex;
    justify-content: space-between;
}

/****************************************************/
/*responsive*/

@media screen and (max-width:380px) {

    .card{
        margin: 40% auto;
    }
    
}